.advantages {
  padding-top: 110px;
  margin-bottom: 75px;
}

.advantages__list {
  @include list-mixin;
  @include flex-row;
}

.advantages__item {
  @include flex-col;
  box-sizing: border-box;
  width: 48.7%;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 40px 42px 64px 41px;
  background-color: $white-color;
  border: 1px solid #e5e5e5;
  border-left: 3px solid $blue-color;
  cursor: pointer;

  &:nth-child(odd) {
    margin-right: 2.6%;
  }
}

.advantages__item svg {
  margin-bottom: 20px;
  fill: $blue-color;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: $blue-color;
}

.advantages__item-description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #666666;

  br {
    display: none;
  }
}

.advantages__item:hover {
  background-color: $blue-color;
  border-color: $blue-color;
  transition: 0.5s;
}

.advantages__item:hover .advantages__item-title,
.advantages__item:hover .advantages__item-description {
  color: $white-color;
  transition: 0.5s;
}

.advantages__item:hover svg {
  fill: $white-color;
  transition: 0.5s;
}

@media (max-width: $tablet-width) {
  .advantages {
    margin-bottom: 25px;
    padding-top: 54px;
  }

  .advantages__list {
    width: 100%;
  }

  .advantages__item {
    width: 47.9%;
    min-height: 232px;
    margin-bottom: 30px;
    padding: 24px 19px 20px 26px;

    &:nth-child(odd) {
      margin-right: 4%;
    }
  }

  .advantages__item svg {
    margin-bottom: 7px;
  }

  .advantages__item-title {
    margin-bottom: 9px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    margin-bottom: 36px;
    padding-top: 39px;
  }

  .advantages__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 24px 12px 23px 22px;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .advantages__item svg {
    margin-bottom: 12px;
  }

  .advantages__item-title {
    max-width: 98%;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }

  .advantages__item-description br {
    display: block;
  }
}
