.callback-popup {
  position: fixed;
  top: 136px;
  left: 50%;
  z-index: 11;
  width: 490px;
  margin-left: -245px;
  color: $white-color;
  background-color: $blue-color;
}

.callback-popup__wrapper {
  @include flex-col;
  position: relative;
  width: 411px;
  margin: 0 auto;
  padding: 30px 0 38px;
}

.callback-popup__close-button {
  position: absolute;
  right: -20px;
  top: 20px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url("../../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: 0.5s;
  }
}

.callback-popup__title {
  @include title-mixin-desk;
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 39px;
}

.callback-popup__text {
  width: 90%;
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.callback-popup form {
  @include flex-col;
}

.callback-popup input[type="text"],
.callback-popup input[type="tel"] {
  @include form-element;
  width: 100%;
  margin-bottom: 30px;
  padding: 14px 16px 20px 24px;
}

.callback-popup textarea {
  @include form-element;
  width: 100%;
  min-height: 104px;
  margin-bottom: 30px;
  padding: 14px 16px 20px 24px;
  resize: none;
}

.callback-popup button[type="submit"] {
  @include button-mixin;
  width: 100%;
  margin-bottom: 35px;
  color: $white-color;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $blue-color;
    transition: 0.5s;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.callback-popup label[for="popup-consent"] {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 90%;
  padding-left: 49px;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 14px;
    border: 1px solid $white-color;
  }
}

.callback-popup input[id="popup-consent"]:checked + label::before {
  background-image: url("../../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.callback-popup input[id="popup-consent"]:focus + label,
.callback-popup input[id="popup-consent"]:hover + label {
  opacity: 1;
  transition: 0.5s;
}
