.footer-contacts__list {
  @include list-mixin;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.footer-contacts__item a {
  @include link-mixin;
}

.footer-contacts__show-button {
  display: none;
}

@media (max-width: $mobile-width) {
  .footer-contacts {
    padding: 29px 0 28px;
  }
}