.footer-contacts__list {
  @include list-mixin;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.footer-contacts__item a {
  @include link-mixin;
  position: relative;

  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $footer-font-color;
  }
}

@media (max-width: $mobile-width) {
  .footer-contacts {
    padding-top: 29px;
  }

  .footer-contacts__list {
    padding-bottom: 28px;
  }
}
