.header-contacts {
  @include list-mixin;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 50px;
}

.header-contacts__item {
  margin-right: 8.5%;
  font-size: 16px;
  line-height: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contacts__item a {
  @include link-mixin;
  position: relative;
  padding: 10px 0 10px 40px;

  &:hover,
  &:focus {
    color: $blue-color;
    transition: 0.5s;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header-contacts__item--mail a::before {
  top: 11px;
  left: 0;
  width: 19px;
  height: 14px;
  background-image: url("../../img/envelope.svg");
}

.header-contacts__item--phone a::before {
  left: 7px;
  width: 18px;
  height: 18px;
  background-image: url("../../img/phone-call.svg");
}

@media (max-width: $tablet-width) {
  .header-contacts {
    margin-right: 0;
  }

  .header-contacts__item {
    margin-right: 83px;
  }

  .header-contacts__item a {
    padding: 0;
  }

  .header-contacts__item--mail a::before {
    top: -2px;
    left: 0;
    width: 25px;
    height: 19px;
  }

  .header-contacts__item--phone a::before {
    left: -24px;
    top: -5px;
    width: 24px;
    height: 24px;
  }

  .header-contacts__item span {
    font-size: 0;
  }
}

@media (max-width: $mobile-width) {
  .header-contacts__item {
    margin-right: 71px;
  }

  .header-contacts__item--mail a::before {
    top: 0;
  }

  .header-contacts__item--phone a::before {
    top: -3px;
  }
}
