.intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  max-width: 718px;
  color: $white-color;
}

.intro__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.intro__text {
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 90px;
  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 17px;
    width: 66px;
    height: 2px;
    background-color: $white-color;
  }
}

.intro__button {
  @include link-mixin;
  width: 351px;
  margin-left: 90px;
  margin-bottom: 94px;
  padding: 18px 28px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $white-color;

  background-color: $blue-color;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $blue-color;
    background-color: $white-color;
    transition: 0.5s;
  }
}

.intro__button--mobile {
  display: none;
}

.intro__link-down {
  @include link-mixin;
  width: 16px;
  font-size: 14px;
  line-height: 16px;
  color: $white-color;
  opacity: 0.5;
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  &:hover,
  &:focus {
    color: $blue-color;;
    transition: 0.5s;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    width: 65%;
  }

  .intro__title {
    max-width: 470px;
    margin-left: 65px;
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 74px;
  }

  .intro__text {
    margin-bottom: 55px;
    padding-left: 115px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      left: 66px;
      top: 15px;
      width: 33px;
      height: 2px;
    }
  }

  .intro__button {
    width: 323px;
    margin-left: 115px;
    margin-bottom: 0;
  }

  .intro__link-down {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    width: 100%;
  }

  .intro__title {
    max-width: 287px;
    margin-left: 0;
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 47px;
  }

  .intro__text {
    max-width: 400px;
    margin-bottom: 40px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      left: 2px;
      top: 15px;
    }
  }

  .intro__button {
    width: 231px;
    margin: 0 auto;
  }

  .intro__button--desk-tab {
    display: none;
  }

  .intro__button--mobile {
    display: block;
  }
}
