.page-header {
  padding-bottom: 90px;
  background-color: $dark-bg;
  background-image:
    url("../../img/circuit-board-desk.png"),
    url("../../img/triangles-desk.png"),
    url("../../img/header-bg-desk.png");
  background-repeat: no-repeat;
  background-position: calc(56.5% + 352px) 256px, center top, center top;
  background-size: auto, auto, cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header {
    background-image:
      url("../../img/circuit-board-desk@2x.png"),
      url("../../img/triangles-desk@2x.png"),
      url("../../img/header-bg-desk@2x.png");
    background-size: 705px auto, 1920px auto, cover;
    }
  }

.page-header__container {
  width: 89.5%;
  max-width: 1411px;
  margin: 0 auto;
}

.page-header__nav {
  margin-bottom: 225px;
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-bottom: 162px;
    background-image:
      url("../../img/circuit-board-tablet.png"),
      url("../../img/triangles-tablet.png"),
      url("../../img/header-bg-tablet.png");
    background-position: right top 113px, right top, center top;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image:
        url("../../img/circuit-board-tablet@2x.png"),
        url("../../img/triangles-tablet@2x.png"),
        url("../../img/header-bg-tablet@2x.png");
      background-size: 260px auto, 770px auto, cover;
    }
  }

  .page-header__container {
    width: 94%;
  }

  .page-header__nav {
    margin-bottom: 110px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-bottom: 70px;
    background-image:
      url("../../img/circuit-board-mobile.png"),
      url("../../img/triangles-mobile.png"),
      url("../../img/header-bg-mobile.png");
    background-position: right top 90px, right top, center top;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image:
        url("../../img/circuit-board-mobile@2x.png"),
        url("../../img/triangles-mobile@2x.png"),
        url("../../img/header-bg-mobile@2x.png");
      background-size: 294px auto, 320px auto, cover;
    }
  }

  .page-header__container {
    width: 90%;
  }

  .page-header__nav {
    margin-bottom: 230px;
  }
}
