@mixin list-mixin {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin link-mixin {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

@mixin font-mixin {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

@mixin flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin footer-font {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
}

@mixin button-mixin {
  padding: 14px 27px 14px 26px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid $white-color;
  border-radius: 5px;
}