@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/header-contacts.scss";
@import "blocks/intro.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/site-map.scss";
@import "blocks/footer-contacts.scss";
@import "blocks/advantages.scss";
@import "blocks/about.scss";
@import "blocks/goods.scss";
@import "blocks/question-form.scss";
@import "blocks/popup.scss";


body {
  min-width: 320px;
  font-family: "PT Mono", "Courier", monospace;

 /* background-image: url(../img/шапка.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;*/
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

.body-lock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
