@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/header-contacts.scss";
@import "blocks/intro.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/site-map.scss";
@import "blocks/footer-contacts.scss";

body {
  min-width: 320px;
  font-family: "PT Mono", "Courier", monospace;

  /*background-image: url(../img/шапка-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;*/
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
